html {
  height: 100%;
}
body {
  position: relative;
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
#root {
  position: relative;
  height: 100%;
}
.App {
  position: relative;
  min-height: 100vh;
  display: flex;
  box-sizing: border-box;
}
.f-list {
  flex: 1;
  padding: 5px;
}
.f-list li {
  margin: 5px 0;
}
.f-list .btn {
  position: fixed;
  bottom: 5px;
}
.f-list .btn button {
  background: none;
  border: none;
  cursor: pointer;
}
.f li {
  cursor: pointer;
}
.n {
  flex: 3;
  display: flex;
}
ul {
  list-style: none;
}
.n-list {
  padding: 5px;
  flex: 1;
}
.n-list ul {
  padding-left: 20px;
  margin-right: 20px;
}
.n-detail {
  overflow: hidden;
  position: relative;
  height: 100%;
  padding: 5px;
  flex: 2;
}
.svgBtn {
  cursor: pointer;
}
.svgBtnDisable svg {
  cursor: default;
  fill: gray;
}
.right {
  float: right;
}
a {
  text-decoration: none;
}
/* 超過換行 */
a > div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 300px;
}
.list-svg {
  margin-right: 5px;
}
.yellow {
  fill: goldenrod !important;
}
.t-bold {
  font-weight: bold;
}
.t-small {
  font-size: small;
}
.e-btn {
  cursor: pointer;
  border: none;
  margin: 0 5px;
}
.superFancyBlockquote {
  color: #999;
  font-family: "Hoefler Text", Georgia, serif;
  font-style: italic;
  text-align: center;
}
.Editor {
  position: relative;
  height: 100%;
  box-sizing: content-box;
  max-width: 700px;
}
.EditorBtn {
  margin: 10px 0;
}
.DraftEditor-root {
  cursor: text;
  min-height: 80px;
  padding: 10px;
}

div.switch {
  position: absolute;
  right: 50px;
}
div.switch > input {
  position: absolute;
  background-color: #ccc;
  opacity: 0;
  z-index: 1;
  border-radius: 15px;
}
div.switch > label {
  position: absolute;
  top: 0;
  left: 0;
  width: 42px;
  height: 26px;
  border-radius: 15px;
  background: #bebebe;
}
div.switch > label::after {
  position: absolute;
  content: "";
  background-color: #fff;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  top: 3px;
  left: 5px;
  transition: 0.2s;
  box-shadow: 1px 3px 3px 1px rgba(0, 0, 0, 0.2);
}
input:checked + label::after {
  left: 18px;
}
input:checked + label {
  background: #000;
}
